.game-board {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    height: 50%;
    margin: 0 auto;
}


.game-piece {
    padding: 10%;
    margin: auto;
    height: 15%;
    width: 25%;
    list-style: none;
}

.game-piece:hover {
    background-color: lightgray;
}